
<mat-toolbar class="toolbar">
  <h1 class="h1">Cric</h1>
<div class="container">
  <owl-carousel-o [options]="customOptions">
 

 
    <ng-template carouselSlide><mat-card class="example-card">
      <!-- <mat-card-title-group>
        <mat-card-title></mat-card-title>
        <mat-card-subtitle>India vs SouthAfrica</mat-card-subtitle>
        <hr>
        
      </mat-card-title-group>
      <mat-card-content>
        
      </mat-card-content> -->
      <h6>2nd odi . India vs SouthAfrica &nbsp; <a><mat-icon>notifications</mat-icon></a></h6>
      <hr>
      <p> RSA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 47-2</p>
      <p> IND</p>
    </mat-card></ng-template>  

   
    <ng-template carouselSlide><mat-card class="example-card">
      <!-- <mat-card-title-group>
        <mat-card-title></mat-card-title>
        <mat-card-subtitle>India vs SouthAfrica</mat-card-subtitle>
        <hr>
        
      </mat-card-title-group>
      <mat-card-content>
        
      </mat-card-content> -->
      <h6>2nd odi . India vs SouthAfrica &nbsp; <a><mat-icon>notifications</mat-icon></a></h6>
      <hr>
      <p> RSA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 47-2</p>
      <p> IND</p>
    </mat-card></ng-template>  
    <ng-template carouselSlide><mat-card class="example-card">
      <!-- <mat-card-title-group>
        <mat-card-title></mat-card-title>
        <mat-card-subtitle>India vs SouthAfrica</mat-card-subtitle>
        <hr>
        
      </mat-card-title-group>
      <mat-card-content>
        
      </mat-card-content> -->
      <h6>2nd odi . India vs SouthAfrica &nbsp; <a><mat-icon>notifications</mat-icon></a></h6>
      <hr>
      <p> RSA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 47-2</p>
      <p> IND</p>
    </mat-card></ng-template>  
    <ng-template carouselSlide><mat-card class="example-card">
      <!-- <mat-card-title-group>
        <mat-card-title></mat-card-title>
        <mat-card-subtitle>India vs SouthAfrica</mat-card-subtitle>
        <hr>
        
      </mat-card-title-group>
      <mat-card-content>
        
      </mat-card-content> -->
      <h6>2nd odi . India vs SouthAfrica &nbsp; <a><mat-icon>notifications</mat-icon></a></h6>
      <hr>
      <p> RSA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 47-2</p>
      <p> IND</p>
    </mat-card></ng-template>  
    <ng-template carouselSlide><mat-card class="example-card">
      <!-- <mat-card-title-group>
        <mat-card-title></mat-card-title>
        <mat-card-subtitle>India vs SouthAfrica</mat-card-subtitle>
        <hr>
        
      </mat-card-title-group>
      <mat-card-content>
        
      </mat-card-content> -->
      <h6>2nd odi . India vs SouthAfrica &nbsp; <a><mat-icon>notifications</mat-icon></a></h6>
      <hr>
      <p> RSA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 47-2</p>
      <p> IND</p>
    </mat-card></ng-template>  
    <ng-template carouselSlide><mat-card class="example-card">
      <!-- <mat-card-title-group>
        <mat-card-title></mat-card-title>
        <mat-card-subtitle>India vs SouthAfrica</mat-card-subtitle>
        <hr>
        
      </mat-card-title-group>
      <mat-card-content>
        
      </mat-card-content> -->
      <h6>2nd odi . India vs SouthAfrica &nbsp; <a><mat-icon>notifications</mat-icon></a></h6>
      <hr>
      <p> RSA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 47-2</p>
      <p> IND</p>
    </mat-card></ng-template>  
    <ng-template carouselSlide><mat-card class="example-card">
      <!-- <mat-card-title-group>
        <mat-card-title></mat-card-title>
        <mat-card-subtitle>India vs SouthAfrica</mat-card-subtitle>
        <hr>
        
      </mat-card-title-group>
      <mat-card-content>
        
      </mat-card-content> -->
      <h6>2nd odi . India vs SouthAfrica &nbsp; <a><mat-icon>notifications</mat-icon></a></h6>
      <hr>
      <p> RSA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 47-2</p>
      <p> IND</p>
    </mat-card></ng-template>  

    
    
  </owl-carousel-o>
 
</div>
  
</mat-toolbar>
