<div class="navbar">
  <header>
    <b> Cric Buzz </b>
  </header>
  
    <div class="card-section" >
      <div *ngFor="i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
        <mat-card class="card-card">  
          <div class="card-header">
            <b>2nd odi . India vs SouthAfrica</b>
            <mat-icon>notifications</mat-icon>
          </div>
      
          <hr>
      
          <mat-card-content>
            <p> RSA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 47-2</p>
            <p> IND</p>
          </mat-card-content>
        </mat-card>
      </div>    
    </div>
</div>

